*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
ul,
li{
    list-style: none;
}
img{
    max-width: 100%;
    vertical-align: middle;
    border: 0;
}
html{
    font-size: 16px;
}
body{
    /* font-family: 'NanumSquare'; */
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 1.4;
    min-width: 320px !important;
    letter-spacing: -0.68px;
    word-break: keep-all;
    font-weight: 400;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
body.menu-open {
    overflow: hidden;
  }
section{
    width: 100%;
    height: auto;
    margin-bottom: 200px;
}